<a href="https://colab.research.google.com/github/AnikaK72/python101/blob/main/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title 1.Creating an empty list
x = []
print (x)
print ("Length of this list:", len(x))

[]
Length of this list: 0

In [2]:
#@title 2.Creating a list with some elements
x = [10, 20, 40]
print(x)

[10, 20, 40]

In [3]:
#@title 3.Adding elements at the end
x = [10, 20, 40]
x.append(12)
print(x)

[10, 20, 40, 12]

In [5]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
first = x[0]
print ("First element:", first)
fourth = x[3]
print ("Fourth element:", fourth)

First element: 10
Fourth element: 12

In [ ]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"
x = [4, 19, 10, 33, 'yellow']
count = len(x)
last_element = x[count-1]
print("Last element is ", last_element)

In [12]:
#@title 6.Adding an element at the front of the list
my_list = [7, 12, 72]
print(my_list)
my_list.insert(10, 3)
print(my_list)

[7, 12, 72]
[7, 12, 72, 3]

In [16]:
#@title 7.Adding an element anywhere (at a specific index) 
my_list = [25, 24, 23]
print(my_list)
my_list.insert(23, 12)
print(my_list)

[25, 24, 23]
[25, 24, 23, 12]

In [20]:
#@title 8.Updating (or Replacing) an element
my_list = [25, 24, 23]
print(my_list)
my_list[1] = 10
print(my_list)
my_list[0] = 'python'
print(my_list)

[25, 24, 23]
[25, 10, 23]
['python', 10, 23]

In [22]:
#@title 9.Looping through the list (just for READING)
my_list = [1, 2, 3, 4, 5]
for x in my_list:
  print(x)
my_list = [1, 2, 3, 4, 5]
total = 0
for x in my_list:
  total = total + x
print ("Total: ", total)
total = sum(my_list)
print ("Total: ", total)

1
2
3
4
5
Total:  15
Total:  15

In [23]:
#@title 10.Looping through the list (for UPDATING)
my_list = [1, 2, 3, 4]
print(my_list)
length = len(my_list)
for i in range(length):
  current_element = my_list[i]
  my_list[i] = current_element + 10
print(my_list)

[1, 2, 3, 4]
[11, 12, 13, 14]